@import "./_colors";

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.sidebar_wrapper {
    width: 20%;
    border-right: 2px solid black;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    & .sidebar {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.post_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-left: 25%;
    & .post_field {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & .post_meta_info {
            display: flex;
            justify-content: space-between;
        }
        & .editor_wrapper {
            height: 500px;
            & .ProseMirror {
                height: 90%;
                border: 1px solid black;
            }
        }
        & .seo_block {
            display: flex;
            flex-direction: column;
        }
        & .new_post_buttons {
            display: flex;
            justify-content: space-around;
        }
    }
}

.admin_menubar {
    border: 1px solid rgb(0, 0, 0);
    line-height: 0.1;
    margin: 10px 0;
}

.menu_icon {
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    color: #888;
    line-height: 1;
    padding: 0 7px;
    margin: 1px;
    cursor: pointer;
    text-align: center;
    min-width: 1.4em;
}

.strong, .heading {
    font-weight: bold;
}

.em {
    font-style: italic;
}

.profile {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    width: 60%;
    max-width: 100%;
    .name_profession {
        display: flex;
        margin: 0.5rem 0;
        justify-content: space-between;
        .name, .profession {
            display: flex;
            flex-direction: column;
            label {
                color: $third_color;
                font: {
                    size: 2rem;
                    weight: 700;
                }
            }
            input[type="text"] {
                margin-top: 0.5rem;
                padding: 0.2rem 0.1rem;
                font: {
                    size: 1.5rem;
                }
            }

        }
    }

    .profile_image {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        justify-content: center;
        max-width: 50%;
        & label {
            color: $third_color;
            font: {
                size: 2rem;
                weight: 700;
            }
        }
        & input[type="file"] {
            padding: 1rem 0.5rem;
            margin-top: 0.5rem;
            max-width: 100%;
            background: $second-color;
            font: {
                size: 1.2rem;
            }
        }
        & .show_profile_image {
            max-width: 100%;
            & img {
                max-width: 100%;
            }
        }
    }

    .about_you {
        display: flex;
        flex-direction: column;
        margin: 3rem 0rem;
        label {
            color: $third_color;
            font: {
                size: 2rem;
                weight: 700;
            }
        }
        & .profile_editor_wrapper {
            height: 300px;
            & .ProseMirror {
                white-space: pre-wrap;
                border: 1px solid black;
            }
        }
    }

    .social_profiles_wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        .social_profiles {
            display: flex;
            input[type="text"] {
                margin-top: 0.5rem;
                padding: 0.2rem 0.1rem;
                font: {
                    size: 1.2rem;
                }
            }
        }
    }
    .helpful_links_wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        .helpful_link {
            display: flex;
            flex-direction: column;
            input[type="text"] {
                margin-top: 0.5rem;
                padding: 0.2rem 0.1rem;
                font: {
                    size: 1.2rem;
                }
            }
        }
    }

    .save_profile {
        display: flex;
        margin-top: 5rem;
        justify-content: center;
        button {
            padding: 1rem 0.5rem;
            cursor: pointer;
            width: 15rem;
            border: 4px solid black;
            background: $first_color;
            transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            border-radius: 10px;
            color: $second_color;
            font: {
                size: 1.5rem;
                weight: 700;
            }

            &:hover {
                background: $second_color;
                color: black;
            }
        }
    }
}
