<% include ../../partials/header.ejs%>
<div class="home_wrapper">
    <div class="intro_wrapper"><img src="../../build/images/ayush.jpg" alt="Ayush Bahuguna | Full Stack Developer" >
        <div class="intro_text_wrapper">
            <h1 class="intro_name">Ayush Bahuguna</h1>
        </div>
    </div>
    <div class="About">
        <%- content.user %>
    </div>
</div>
<% include ../../partials/footer.ejs%>
