<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,700" rel="stylesheet">
<script src="../../build/vendor.admin.js"></script>
<script src="../../build/app.admin.js"></script>
</body>
</html>
