<div class="nav-wrapper">
    <ul class="nav">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/post">Articles</a></li>
        <li class="nav-item"><a href="/contact">Contact</a></li>
    </ul>
</div>