@import "../../../styles/_base.scss";

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    margin: 6rem auto 2rem;
    background: $first-color;
    filter: $drop-shadow;
    border-radius: 5px;
    padding: 1rem;
    & .post {
        display: flex;
        flex-direction: column;
        margin: 1.5rem 0;
        border-bottom: 1px solid $third-color;
        & a {
            color: $second-color;
            font-size: 1.57rem;
            font-weight: bold;
            text-decoration: none;
        }
        & h1 {
            color: black;
        }
    }
}

@media only screen and (max-width: 960px) {
    .posts {
        width: 85%;
    }
}

@media only screen and (max-width: 720px) {
    .posts {
        width: 95%;
        & .post {
            & a {
                font-size: 1.35rem;
            }
        }
    }
}
@media only screen and (max-width: 640px) {
    .posts {
        & .post {
            & a {
                font-size: 1.2rem;
            }
        }
    }
}
@media only screen and (max-width: 420px) {
    .posts {
        width: 98%;
        & .post {
            & a {
                font-size: 1rem;
            }
        }
    }
}
