@import "../../styles/_base.scss";
.new_comment_wrapper {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 1rem auto;
    max-width: 100%;
    align-items: center;
    & .new_comment_header {
        font-size: 2rem;
    }
    & .comment_form_wrapper {
        background: $first-color;
        filter: $drop-shadow;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        & .name_email_wrapper {
            width: 80%;
            margin: 1.5rem 0rem;
            display: flex;
            justify-content: space-between;
            & .new_name,
            & .new_email {
                border: none;
                color: black;
                width: 45%;
                margin: 0.7rem 0;
                padding: 1rem 0.5rem;
                background: $fifth-color;
                font-size: 1.32rem;
            }
        }
        & .new_comment {
            padding: 0.5rem;
            resize: none;
            width: 80%;
            color: black;
            border: 2px solid $third-color;
            margin-bottom: 1.5rem;
            background: $fifth-color;
            font: {
                size: 1.32rem;
                family: inherit;
            }
        }
    }
    & .comment_post {
        width: 30%;
        border: none;
        cursor: pointer;
        margin: 1.5rem 0;
        padding: 0.5rem;
        filter: $drop-shadow;
        background: $third-color;
        transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        border-radius: 2px;
        color: $second-color;
        font: {
            size: 1.5rem;
            weight: 900;
        }
        &:hover {
            background: $sixth-color;
        }
    }
}

.comment_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    & .comment_header {
        font-size: 2rem;
        color: black;
    }
    & .comment {
        display: flex;
        width: 45%;
        margin: 1rem 0;
        flex-direction: column;
        align-items: flex-start;
        & .parent_comment_wrapper {
            display: flex;
            margin: 1rem 0;
            flex-direction: column;
            justify-content: center;
            background: white;
            width: 100%;
            padding: 1rem;
            border-radius: 5px;
            filter: $drop-shadow;
            align-items: flex-start;
            & .comment_name {
                font: {
                    size: 1.48rem;
                }
                border-bottom: 4px solid black;
                margin: 0;
            }
            & .comment_content {
                font: {
                    size: 1rem;
                }
                color: $second-color;
            }
        }
        & .reply_comment_wrapper {
            width: 100%;
            max-width: 100%;
            margin-top: 1.5rem;
            & .comment_form_wrapper.reply {
                background: $first-color;
                filter: $drop-shadow;
                border-radius: 3px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 100%;
                justify-content: center;
                & .name_email_wrapper.reply {
                    width: 90%;
                    margin: 1.5rem 0rem;
                    display: flex;
                    justify-content: space-between;
                    & .new_name,
                    & .new_email {
                        border: none;
                        color: $second-color;
                        width: 45%;
                        margin: 0.7rem 0;
                        padding: 1rem 0.5rem;
                        background: $fifth-color;
                        font-size: 1.32rem;
                    }
                }
                & .new_comment.reply {
                    padding: 0.5rem;
                    resize: none;
                    width: 90%;
                    color: $second-color;
                    border: 2px solid $third-color;
                    margin-bottom: 1.5rem;
                    background: $fifth-color;
                    font: {
                        size: 1.32rem;
                        family: inherit;
                    }
                }
                & .reply_buttons_wrapper {
                    width: 45%;
                    display: flex;
                    margin-bottom: 1.5rem;
                    justify-content: space-between;
                    & .submit_reply,
                    & .cancel_reply {
                        border: none;
                        border-radius: 2px;
                        width: 40%;
                        background: $third-color;
                        color: $second-color;
                        font-size: 1.3rem;
                        font-weight: bold;
                        padding: 0.5rem;
                        cursor: pointer;
                    }
                }
            }
        }
        & .reply_comment {
            display: flex;
            margin: 0.5rem 0;
            border-left: 0.6rem solid $third-color;
            flex-direction: column;
            justify-content: center;
            background: $first-color;
            width: 100%;
            padding: 0.5rem;
            border-radius: 5px;
            filter: $drop-shadow;
            align-items: flex-start;
            & .comment_name {
                font: {
                    size: 1.48rem;
                    color: black;
                }
                margin: 0;
            }
            & .comment_email {
                font: {
                    size: 1rem;
                }
                color: $second-color;
            }
            & .comment_content {
                font: {
                    size: 1.28rem;
                    weight: 600;
                }
                color: $third-color;
            }
        }
        & .s_reply {
            border: none;
            border-radius: 5px;
            background: $third-color;
            color: black;
            font-size: 1rem;
            font-weight: bold;
            padding: 0.1rem 0.5rem;
        }
    }
}