<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" ng-cloak="" content="width=device-width, initial-scale=1">
    <% if (meta) {%>
      <title><%= meta.title %></title>
      <meta name="keywords" content=<%= meta.keywords %>>
      <meta name="description" content=<%= meta.description %>>
    <%}%>
    <link rel="stylesheet" href="/build/style.css">
  </head>
  <body>
