<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (content.meta) {%>
      <title><%= content.meta.title %></title>
      <meta name="keywords" content="<%= content.meta.keywords %>">
      <meta name="description" content="<%= content.meta.description %>">
    <%}%>
    <link rel="stylesheet" href="../../build/styles.css">
  </head>
  <body>
