@import "../../../styles/_base.scss";
.single_post_wrapper {
    & .single_post {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        & .heading_wrapper {
            width: 100%;
            background: $second-color;
            z-index: 0;
            position: fixed;
            padding: 0 10px;
            height: 540px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            & .single_post_heading {
                color: $first-color;
                font-size: 4rem;
                background: $second-color;
                padding: 0 5px;
                margin: 10% 0 0;
                max-height: 100%;
                text-align: center;
            }
        }
        & .single_post_content_wrapper {
            width: 100%;
            max-width: 100%;
            position: relative;
            margin-top: 800px;
            & .single_post_content {
                width: 75%;
                font-size: 1.28rem;
                color: $second-color;
                line-height: 1.73rem;
                background: $first-color;
                padding: 1rem;
                position: relative;
                border-radius: 3px;
                filter: $drop-shadow;
                margin: 0 auto;
                transform: translate3d(0px, -120px, 0);
                transform-style: preserve-3d;
                & p > code {
                    font-size: 1rem;
                    background: #ddd;
                    padding: 0.25rem;
                    border-radius: 5px;
                }
                & pre>code {
                    font-size: 1rem;
                }
                & a {
                    color: $second-color;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .single_post_wrapper {
        & .single_post {
            & .single_post_content_wrapper {
                & .single_post_content {
                    width: 85%;
                }
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    .single_post_wrapper {
        & .single_post {
            & .single_post_content_wrapper {
                & .single_post_content {
                    width: 95%;
                    font-size: 1.12rem;
                    & pre>code {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .single_post_wrapper {
        .single_post {
            & .heading_wrapper {
                height: 500px;
                & .single_post_heading {
                    font-size: 3rem;
                }
            }
            & .single_post_content_wrapper {
                margin-top: 650px;
            }
        }
    }
}
@media only screen and (max-width: 420px) {
    .single_post_wrapper {
        .single_post {
            & .heading_wrapper {
                & .single_post_heading {
                    font-size: 2rem;
                }
            }
            & .single_post_content_wrapper {
                & .single_post_content {
                    width: 98%;
                    font-size: 1rem;
                    & pre>code {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}
