@import "base";
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: $fourth-color;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

@import "../components/home/_home.scss";
@import "../components/posts/all_posts/_all.posts.scss";
@import "../components/posts/single_post/_single.post.scss";
@import "../components/common/subscribe/_subscribe.scss";
@import "../components/comments/_comment.scss";
@import "../components/contact/_contact.scss";

@media only screen and (max-width: 960px) {
    .single_post_wrapper {
        & .single_post {
            & .heading_wrapper {
                & .single_post_content {
                    width: 85%;
                }
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    .single_post_wrapper {
        & .single_post {
            & .single_post_content_wrapper {
                & .single_post_content {
                    width: 95%;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .single_post_wrapper {
        & .single_post {
            & .heading_wrapper {
                height: 500px;
                & .single_post_heading {
                    font-size: 3rem;
                }
            }
            & .single_post_content_wrapper {
                margin-top: 650px;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .posts {
        width: 85%;
    }
}

@media only screen and (max-width: 720px) {
    .posts {
        width: 95%;
    }
}




.editor_wrapper {
    min-height: 200px;
    width: 80%;
    max-width: 100%;
    margin: 0 0 2.5rem;
    white-space: pre-wrap;
    & .ProseMirror {
        min-height: 70%;
        word-wrap: break-word;
        border: 1px solid black;
    }
}

.blog_menubar {
    border: 1px solid rgb(0, 0, 0);
    line-height: 0.1;
    margin: 10px 0;
}

.menu_icon {
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    color: #000;
    line-height: 2;
    padding: 0 7px;
    margin: 1px;
    cursor: pointer;
    text-align: center;
    min-width: 1.4em;
}

.strong,
.heading {
    font-weight: bold;
}

.em {
    font-style: italic;
}

@media only screen and (max-width: 960px) {
    .new_comment_wrapper {
        width: 65%;
    }
    .comment_wrapper .comment {
        width: 55%;
    }
}

@media only screen and (max-width: 720px) {
    .new_comment_wrapper {
        width: 75%;
    }
    .comment_wrapper .comment {
        width: 65%;
    }
}

@media only screen and (max-width: 480px) {
    .new_comment_wrapper {
        width: 95%;
    }
    .comment_wrapper .comment {
        width: 95%;
    }
}


@media only screen and (max-width: 960px) {
    .posts {
        width: 85%;
    }
}

@media only screen and (max-width: 720px) {
    .posts {
        width: 95%;
    }
}

@media only screen and (max-width: 960px) {
    .single_post_wrapper {
        & .single_post {
            & .heading_wrapper {
                & .single_post_content {
                    width: 85%;
                }
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    .single_post_wrapper {
        & .single_post {
            & .single_post_content_wrapper {
                & .single_post_content {
                    width: 95%;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .single_post_wrapper {
        & .single_post {
            & .heading_wrapper {
                height: 500px;
                & .single_post_heading {
                    font-size: 2rem;
                }
            }
            & .single_post_content_wrapper {
                margin-top: 650px;
                & .single_post_content {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.nav-wrapper {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    align-items: center;
    border-bottom: 2px solid $third-color;
    justify-content: center;
    height: 60px;
    background: $first-color;
    position: fixed;
    color: $second-color;
    top: 0;
    z-index: 30;
    right: 0;
    box-shadow: $nav-shadow;
    left: 0;
    max-height: 100%;
    .nav {
        display: flex;
        width: 45%;
        max-width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        & .nav-item {
            font: {
                size: 1.28rem;
                weight: 700;
            }
            display: flex;
            justify-content: center;
            height: 60px;
            width: 90px;
            margin: 0;
            padding: 0;
            & a {
                color: $second-color;
                text-decoration: none;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                &:not(.active):hover {
                    background: $third-color;
                }
                &:active {
                    transform: scale(0.5);
                }
                &.active {
                    background: $third-color;
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .nav-wrapper {
        .nav {
            width: 55%;
        }
    }
}

@media only screen and (max-width: 720px) {
    .nav-wrapper {
        .nav {
            width: 65%;
        }
    }
}

@media only screen and (max-width: 480px) {
    .nav-wrapper {
        .nav {
            width: 95%;
        }
    }
}

.hide {
    display: none !important;
}


