<% include ../../../partials/header.ejs%>
<% include ../../../common/sidebar/sidebar.ejs%>
<div class="all_post_wrapper">
	<ul class="all_post_list">
	<% content.post.forEach((el)=>{%>
		<li class="all_post_item"><a href="/post/<%= el.url%>"><%= el.title%></a></li>
	<%	})%>
	</ul>
</div>
<% include ../../../partials/footer.ejs%>
