<div class="optin_wrapper">
    <div class="intro_wrapper">
        <p>If you found this post helpful, and would like to get notified whenever I'd publish a new post, then kindly enter your details below. Your details are not shared with or sold to any third party.</p>
    </div>
    <div class="form">
        <div class="optin_name"><input type="text" class="input_optin_name" id="subscriber_name" placeholder="Your Name"></div>
        <div class="optin_email"><input type="email" class="input_optin_email" id="subscriber_email" placeholder="Your Email"></div>
    </div>
    <div class="submit_optin_wrapper">
        <button class="optin_submit" onclick="subscribe.submitSubscribe()">Submit</button>
    </div>
</div>