<% include ../../../partials/header.ejs %>
<% include ../../../common/sidebar/sidebar.ejs%>
<div class="profile">
    <div class="name_profession">
        <div class="name">
            <input type="text"  name="name" id="profile_name" placeholder="Your Name" value="<%= content.user.name || ""%>">
        </div>
    </div>
    <div class="profile_image">
        <input type="file" name="profileImage" id="profile_image" placeholder="Profile Image"/>
    </div>
    <div class="about_you">
        <div id="profile_editor" class="profile_editor_wrapper">
            <%= content.user.about%>
        </div>
        <div id="profile_about" style="display: none;"></div>
    </div>
    <div class="social_profiles_wrapper">
        <div class="social_profiles">
            <input type="text" id="social_profile_name" placeholder="Social Profile, eg: github, twitter">
            <input type="text" id="social_profile_link" placeholder="Link to the profile">
        </div>
        <button class="add_social_profile" onclick="profile.addSocialProfile()">Add</button>
    </div>
    <div class="save_profile">
        <button onclick="profile.updateProfile()">Save</button>
    </div>
</div>
<% include ../../../partials/footer.ejs%>
