<% include ../../../partials/header.ejs %>
<div class="signin_wrapper">
    <input type="text" id="signin_email" placeholder="Enter your email">
    <input type="text" id="signin_password" placeholder="Enter your password">
    <button onclick="user.signin()">Signin</button>
</div>
<% include ../../../partials/footer.ejs%>